<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.student.mapper.IStudentMapper">

    <insert id="save" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student` (`account_id`, `real_name`, `nickname`, `school_name`, `student_number`, `avatar_url`)
        VALUES (#{student.accountId}, #{student.realName}, #{student.nickname}, #{student.schoolName}, #{student.studentNumber}, #{student.avatarUrl})
    </insert>
    <update id="updateAccountIdById" parameterType="long">
        UPDATE `student`
        SET `account_id` = #{accountId}
        WHERE `id` = #{id}
    </update>
    <select id="selectStudentByAccountId" resultType="cn.sicnu.common.model.entity.Student">
        SELECT * FROM `student` where `account_id` = #{accountId}
    </select>
    <select id="selectStudentsByIds" resultType="cn.sicnu.common.model.entity.Student">
        SELECT *
        FROM `student`
        WHERE `id` in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>